@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  @apply bg-white dark:bg-darkBg text-gray-800 dark:text-darkText transition-colors duration-500;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  animation: fadeDown 0.6s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}